<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Empresa con más ventas</div>
        <div class="card-body" *ngIf="masVentas">
          <h5 class="card-title">
            {{ masVentas.nameAgency }}
          </h5>
          <h3>{{ masVentas.finalPrice | currency: "USD" }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header">Més con más ventas</div>
        <div class="card-body" *ngIf="mesSeleccionado">
          <h5 class="card-title">{{ meses[mesSeleccionado.month] }}</h5>
          <h3>{{ mesSeleccionado.finalPrice | currency: "USD" }}</h3>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table table-striped table-hover table-bordered align-middle mt-3"
  >
    <thead class="text-center">
      <tr>
        <th scope="col">Nombre Empresa</th>
        <th scope="col">Total Ventas</th>
        <th scope="col">Comisión</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody *ngIf="ventas.length > 0">
      <tr *ngFor="let sale of ventas">
        <td class="text-center">{{ sale.nameAgency }}</td>
        <td class="text-end">{{ sale.finalPrice | currency: "USD" }}</td>
        <td class="text-end">{{ sale.finalPrice * 0.025 | currency: "USD" }}</td>
        <td class="text-center">
          <a class="btn btn-primary btn-sm" [routerLink]="['/empresas', sale.nameAgency]" role="button">
            <i class="fa fa-eye"></i>&nbsp;Detalle
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
